simpleTasks/src/test1/PaymentBroker-Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://upbs.cs.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://upbs.cs.com/" name="PaymentBrokerEndpointService">
<types>
<xsd:schema>
<xsd:import namespace="http://upbs.cs.com/" schemaLocation="http://localhost:9580/UPBS/paymentBroker/PaymentBroker-Service?xsd=1"/>
</xsd:schema>
</types>
<message name="getRegions">
<part name="parameters" element="tns:getRegions"/>
</message>
<message name="getRegionsResponse">
<part name="parameters" element="tns:getRegionsResponse"/>
</message>
<message name="UpbsException">
<part name="fault" element="tns:UpbsException"/>
</message>
<message name="getBillerById">
<part name="parameters" element="tns:getBillerById"/>
</message>
<message name="getBillerByIdResponse">
<part name="parameters" element="tns:getBillerByIdResponse"/>
</message>
<message name="getManualBill">
<part name="parameters" element="tns:getManualBill"/>
</message>
<message name="getManualBillResponse">
<part name="parameters" element="tns:getManualBillResponse"/>
</message>
<message name="createBills">
<part name="parameters" element="tns:createBills"/>
</message>
<message name="createBillsResponse">
<part name="parameters" element="tns:createBillsResponse"/>
</message>
<message name="payBill">
<part name="parameters" element="tns:payBill"/>
</message>
<message name="payBillResponse">
<part name="parameters" element="tns:payBillResponse"/>
</message>
<message name="calculateFee">
<part name="parameters" element="tns:calculateFee"/>
</message>
<message name="calculateFeeResponse">
<part name="parameters" element="tns:calculateFeeResponse"/>
</message>
<message name="getBillerSnapShotGroupsByRegion">
<part name="parameters" element="tns:getBillerSnapShotGroupsByRegion"/>
</message>
<message name="getBillerSnapShotGroupsByRegionResponse">
<part name="parameters" element="tns:getBillerSnapShotGroupsByRegionResponse"/>
</message>
<message name="getBillerSnapShotsByVersion">
<part name="parameters" element="tns:getBillerSnapShotsByVersion"/>
</message>
<message name="getBillerSnapShotsByVersionResponse">
<part name="parameters" element="tns:getBillerSnapShotsByVersionResponse"/>
</message>
<message name="getBillersByGroupId">
<part name="parameters" element="tns:getBillersByGroupId"/>
</message>
<message name="getBillersByGroupIdResponse">
<part name="parameters" element="tns:getBillersByGroupIdResponse"/>
</message>
<message name="getBillerGroupsByRegion">
<part name="parameters" element="tns:getBillerGroupsByRegion"/>
</message>
<message name="getBillerGroupsByRegionResponse">
<part name="parameters" element="tns:getBillerGroupsByRegionResponse"/>
</message>
<message name="processBillConstuctorStep">
<part name="parameters" element="tns:processBillConstuctorStep"/>
</message>
<message name="processBillConstuctorStepResponse">
<part name="parameters" element="tns:processBillConstuctorStepResponse"/>
</message>
<message name="getProviderBills">
<part name="parameters" element="tns:getProviderBills"/>
</message>
<message name="getProviderBillsResponse">
<part name="parameters" element="tns:getProviderBillsResponse"/>
</message>
<message name="getBillsByBatchId">
<part name="parameters" element="tns:getBillsByBatchId"/>
</message>
<message name="getBillsByBatchIdResponse">
<part name="parameters" element="tns:getBillsByBatchIdResponse"/>
</message>
<message name="getUpbsBillSnapShotsByVersion">
<part name="parameters" element="tns:getUpbsBillSnapShotsByVersion"/>
</message>
<message name="getUpbsBillSnapShotsByVersionResponse">
<part name="parameters" element="tns:getUpbsBillSnapShotsByVersionResponse"/>
</message>
<message name="getUpbsBillById">
<part name="parameters" element="tns:getUpbsBillById"/>
</message>
<message name="getUpbsBillByIdResponse">
<part name="parameters" element="tns:getUpbsBillByIdResponse"/>
</message>
<message name="createBillSubscription">
<part name="parameters" element="tns:createBillSubscription"/>
</message>
<message name="createBillSubscriptionResponse">
<part name="parameters" element="tns:createBillSubscriptionResponse"/>
</message>
<message name="removeBillSubscription">
<part name="parameters" element="tns:removeBillSubscription"/>
</message>
<message name="removeBillSubscriptionResponse">
<part name="parameters" element="tns:removeBillSubscriptionResponse"/>
</message>
<message name="getBillSubscriptionsByDate">
<part name="parameters" element="tns:getBillSubscriptionsByDate"/>
</message>
<message name="getBillSubscriptionsByDateResponse">
<part name="parameters" element="tns:getBillSubscriptionsByDateResponse"/>
</message>
<message name="getDictionaryByVersion">
<part name="parameters" element="tns:getDictionaryByVersion"/>
</message>
<message name="getDictionaryByVersionResponse">
<part name="parameters" element="tns:getDictionaryByVersionResponse"/>
</message>
<message name="getSimpleDictionary">
<part name="parameters" element="tns:getSimpleDictionary"/>
</message>
<message name="getSimpleDictionaryResponse">
<part name="parameters" element="tns:getSimpleDictionaryResponse"/>
</message>
<message name="getTranslations">
<part name="parameters" element="tns:getTranslations"/>
</message>
<message name="getTranslationsResponse">
<part name="parameters" element="tns:getTranslationsResponse"/>
</message>
<message name="getServerVersion">
<part name="parameters" element="tns:getServerVersion"/>
</message>
<message name="getServerVersionResponse">
<part name="parameters" element="tns:getServerVersionResponse"/>
</message>
<message name="getGercCityDictionary">
<part name="parameters" element="tns:getGercCityDictionary"/>
</message>
<message name="getGercCityDictionaryResponse">
<part name="parameters" element="tns:getGercCityDictionaryResponse"/>
</message>
<message name="getGercStreetDictionary">
<part name="parameters" element="tns:getGercStreetDictionary"/>
</message>
<message name="getGercStreetDictionaryResponse">
<part name="parameters" element="tns:getGercStreetDictionaryResponse"/>
</message>
<message name="getGercHouseDictionary">
<part name="parameters" element="tns:getGercHouseDictionary"/>
</message>
<message name="getGercHouseDictionaryResponse">
<part name="parameters" element="tns:getGercHouseDictionaryResponse"/>
</message>
<message name="getGercFlatDictionary">
<part name="parameters" element="tns:getGercFlatDictionary"/>
</message>
<message name="getGercFlatDictionaryResponse">
<part name="parameters" element="tns:getGercFlatDictionaryResponse"/>
</message>
<message name="getGercOwnerDictionary">
<part name="parameters" element="tns:getGercOwnerDictionary"/>
</message>
<message name="getGercOwnerDictionaryResponse">
<part name="parameters" element="tns:getGercOwnerDictionaryResponse"/>
</message>
<message name="getGercPlatCodeInfo">
<part name="parameters" element="tns:getGercPlatCodeInfo"/>
</message>
<message name="getGercPlatCodeInfoResponse">
<part name="parameters" element="tns:getGercPlatCodeInfoResponse"/>
</message>
<message name="gercKassAction">
<part name="parameters" element="tns:gercKassAction"/>
</message>
<message name="gercKassActionResponse">
<part name="parameters" element="tns:gercKassActionResponse"/>
</message>
<message name="calculateTariffs">
<part name="parameters" element="tns:calculateTariffs"/>
</message>
<message name="calculateTariffsResponse">
<part name="parameters" element="tns:calculateTariffsResponse"/>
</message>
<message name="getGercDictionaryByType">
<part name="parameters" element="tns:getGercDictionaryByType"/>
</message>
<message name="getGercDictionaryByTypeResponse">
<part name="parameters" element="tns:getGercDictionaryByTypeResponse"/>
</message>
<message name="clearCaches">
<part name="parameters" element="tns:clearCaches"/>
</message>
<message name="clearCachesResponse">
<part name="parameters" element="tns:clearCachesResponse"/>
</message>
<portType name="PaymentBrokerEndpoint">
<operation name="getRegions">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getRegionsRequest" message="tns:getRegions"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getRegionsResponse" message="tns:getRegionsResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getRegions/Fault/UpbsException"/>
</operation>
<operation name="getBillerById">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillerByIdRequest" message="tns:getBillerById"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillerByIdResponse" message="tns:getBillerByIdResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillerById/Fault/UpbsException"/>
</operation>
<operation name="getManualBill">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getManualBillRequest" message="tns:getManualBill"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getManualBillResponse" message="tns:getManualBillResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getManualBill/Fault/UpbsException"/>
</operation>
<operation name="createBills">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/createBillsRequest" message="tns:createBills"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/createBillsResponse" message="tns:createBillsResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/createBills/Fault/UpbsException"/>
</operation>
<operation name="payBill">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/payBillRequest" message="tns:payBill"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/payBillResponse" message="tns:payBillResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/payBill/Fault/UpbsException"/>
</operation>
<operation name="calculateFee">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/calculateFeeRequest" message="tns:calculateFee"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/calculateFeeResponse" message="tns:calculateFeeResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/calculateFee/Fault/UpbsException"/>
</operation>
<operation name="getBillerSnapShotGroupsByRegion">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillerSnapShotGroupsByRegionRequest" message="tns:getBillerSnapShotGroupsByRegion"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillerSnapShotGroupsByRegionResponse" message="tns:getBillerSnapShotGroupsByRegionResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillerSnapShotGroupsByRegion/Fault/UpbsException"/>
</operation>
<operation name="getBillerSnapShotsByVersion">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillerSnapShotsByVersionRequest" message="tns:getBillerSnapShotsByVersion"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillerSnapShotsByVersionResponse" message="tns:getBillerSnapShotsByVersionResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillerSnapShotsByVersion/Fault/UpbsException"/>
</operation>
<operation name="getBillersByGroupId">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillersByGroupIdRequest" message="tns:getBillersByGroupId"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillersByGroupIdResponse" message="tns:getBillersByGroupIdResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillersByGroupId/Fault/UpbsException"/>
</operation>
<operation name="getBillerGroupsByRegion">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillerGroupsByRegionRequest" message="tns:getBillerGroupsByRegion"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillerGroupsByRegionResponse" message="tns:getBillerGroupsByRegionResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillerGroupsByRegion/Fault/UpbsException"/>
</operation>
<operation name="processBillConstuctorStep">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/processBillConstuctorStepRequest" message="tns:processBillConstuctorStep"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/processBillConstuctorStepResponse" message="tns:processBillConstuctorStepResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/processBillConstuctorStep/Fault/UpbsException"/>
</operation>
<operation name="getProviderBills">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getProviderBillsRequest" message="tns:getProviderBills"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getProviderBillsResponse" message="tns:getProviderBillsResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getProviderBills/Fault/UpbsException"/>
</operation>
<operation name="getBillsByBatchId">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillsByBatchIdRequest" message="tns:getBillsByBatchId"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillsByBatchIdResponse" message="tns:getBillsByBatchIdResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillsByBatchId/Fault/UpbsException"/>
</operation>
<operation name="getUpbsBillSnapShotsByVersion">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getUpbsBillSnapShotsByVersionRequest" message="tns:getUpbsBillSnapShotsByVersion"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getUpbsBillSnapShotsByVersionResponse" message="tns:getUpbsBillSnapShotsByVersionResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getUpbsBillSnapShotsByVersion/Fault/UpbsException"/>
</operation>
<operation name="getUpbsBillById">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getUpbsBillByIdRequest" message="tns:getUpbsBillById"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getUpbsBillByIdResponse" message="tns:getUpbsBillByIdResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getUpbsBillById/Fault/UpbsException"/>
</operation>
<operation name="createBillSubscription">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/createBillSubscriptionRequest" message="tns:createBillSubscription"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/createBillSubscriptionResponse" message="tns:createBillSubscriptionResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/createBillSubscription/Fault/UpbsException"/>
</operation>
<operation name="removeBillSubscription">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/removeBillSubscriptionRequest" message="tns:removeBillSubscription"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/removeBillSubscriptionResponse" message="tns:removeBillSubscriptionResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/removeBillSubscription/Fault/UpbsException"/>
</operation>
<operation name="getBillSubscriptionsByDate">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillSubscriptionsByDateRequest" message="tns:getBillSubscriptionsByDate"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillSubscriptionsByDateResponse" message="tns:getBillSubscriptionsByDateResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getBillSubscriptionsByDate/Fault/UpbsException"/>
</operation>
<operation name="getDictionaryByVersion">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getDictionaryByVersionRequest" message="tns:getDictionaryByVersion"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getDictionaryByVersionResponse" message="tns:getDictionaryByVersionResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getDictionaryByVersion/Fault/UpbsException"/>
</operation>
<operation name="getSimpleDictionary">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getSimpleDictionaryRequest" message="tns:getSimpleDictionary"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getSimpleDictionaryResponse" message="tns:getSimpleDictionaryResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getSimpleDictionary/Fault/UpbsException"/>
</operation>
<operation name="getTranslations">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getTranslationsRequest" message="tns:getTranslations"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getTranslationsResponse" message="tns:getTranslationsResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getTranslations/Fault/UpbsException"/>
</operation>
<operation name="getServerVersion">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getServerVersionRequest" message="tns:getServerVersion"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getServerVersionResponse" message="tns:getServerVersionResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getServerVersion/Fault/UpbsException"/>
</operation>
<operation name="getGercCityDictionary">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercCityDictionaryRequest" message="tns:getGercCityDictionary"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercCityDictionaryResponse" message="tns:getGercCityDictionaryResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercCityDictionary/Fault/UpbsException"/>
</operation>
<operation name="getGercStreetDictionary">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercStreetDictionaryRequest" message="tns:getGercStreetDictionary"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercStreetDictionaryResponse" message="tns:getGercStreetDictionaryResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercStreetDictionary/Fault/UpbsException"/>
</operation>
<operation name="getGercHouseDictionary">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercHouseDictionaryRequest" message="tns:getGercHouseDictionary"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercHouseDictionaryResponse" message="tns:getGercHouseDictionaryResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercHouseDictionary/Fault/UpbsException"/>
</operation>
<operation name="getGercFlatDictionary">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercFlatDictionaryRequest" message="tns:getGercFlatDictionary"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercFlatDictionaryResponse" message="tns:getGercFlatDictionaryResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercFlatDictionary/Fault/UpbsException"/>
</operation>
<operation name="getGercOwnerDictionary">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercOwnerDictionaryRequest" message="tns:getGercOwnerDictionary"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercOwnerDictionaryResponse" message="tns:getGercOwnerDictionaryResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercOwnerDictionary/Fault/UpbsException"/>
</operation>
<operation name="getGercPlatCodeInfo">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercPlatCodeInfoRequest" message="tns:getGercPlatCodeInfo"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercPlatCodeInfoResponse" message="tns:getGercPlatCodeInfoResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercPlatCodeInfo/Fault/UpbsException"/>
</operation>
<operation name="gercKassAction">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/gercKassActionRequest" message="tns:gercKassAction"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/gercKassActionResponse" message="tns:gercKassActionResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/gercKassAction/Fault/UpbsException"/>
</operation>
<operation name="calculateTariffs">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/calculateTariffsRequest" message="tns:calculateTariffs"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/calculateTariffsResponse" message="tns:calculateTariffsResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/calculateTariffs/Fault/UpbsException"/>
</operation>
<operation name="getGercDictionaryByType">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercDictionaryByTypeRequest" message="tns:getGercDictionaryByType"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercDictionaryByTypeResponse" message="tns:getGercDictionaryByTypeResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/getGercDictionaryByType/Fault/UpbsException"/>
</operation>
<operation name="clearCaches">
<input wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/clearCachesRequest" message="tns:clearCaches"/>
<output wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/clearCachesResponse" message="tns:clearCachesResponse"/>
<fault message="tns:UpbsException" name="UpbsException" wsam:Action="http://upbs.cs.com/PaymentBrokerEndpoint/clearCaches/Fault/UpbsException"/>
</operation>
</portType>
<binding name="PaymentBrokerEndpointPortBinding" type="tns:PaymentBrokerEndpoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getRegions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getBillerById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getManualBill">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="createBills">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="payBill">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="calculateFee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getBillerSnapShotGroupsByRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getBillerSnapShotsByVersion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getBillersByGroupId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getBillerGroupsByRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="processBillConstuctorStep">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getProviderBills">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getBillsByBatchId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getUpbsBillSnapShotsByVersion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getUpbsBillById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="createBillSubscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="removeBillSubscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getBillSubscriptionsByDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getDictionaryByVersion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getSimpleDictionary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getTranslations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getServerVersion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getGercCityDictionary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getGercStreetDictionary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getGercHouseDictionary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getGercFlatDictionary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getGercOwnerDictionary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getGercPlatCodeInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="gercKassAction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="calculateTariffs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="getGercDictionaryByType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
<operation name="clearCaches">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UpbsException">
<soap:fault name="UpbsException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PaymentBrokerEndpointService">
<port name="PaymentBrokerEndpointPort" binding="tns:PaymentBrokerEndpointPortBinding">
<soap:address location="http://localhost:9580/UPBS/paymentBroker/PaymentBroker-Service"/>
</port>
</service>
</definitions>